.link  {
    text-decoration: none;
    color: white;
}

.link:hover  {
    text-decoration: none;
    color: #3ec1d5;
}



.btn-custom{
    padding: 1px 15px 3px 2px;
    border-radius: 50px;
}

.btn-icon{
    padding: 8px;
    
}

#contact-area{
    text-align:center
}

.contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #fff;
}

.contact-box i {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-box p {
    font-size: 16px;
}

.contact-title {
    font-weight: bold;
    color: azure;

}

#msg-box p {
    font-size: 22px;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
    margin-bottom: 15px;
    border-radius: 0;
}

#contact-form .main-btn{
    width: 120px;
    height: 50px;
}

#contact-form .main-btn:hover{
    color: #ffffff;
    background-color: #3ec1d5;
}


#copy-area .container{
    padding: 10px 0;
    text-align: center;
}

#copy-area .container{
    margin-top: 20px;
    margin-bottom: 0;
}

#copy-area .container a{
    font-weight: bold;
    color: #ffffff;
    text-decoration:none ;
}

#copy-area .container a:hover{
    text-decoration: none;
    color: #3ec1d5;
}